:root {
    --color: #aaa;
    --background: #000;
    --size: 1;
    /* --glow: 1 */
    --animation: terminal-blink;

    --frame: tomato;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: black;
  font-size: 1.5rem;
}

main {
  color: #fff;
  font-family: sans-serif;
}

.pronounce {
  font-family: Helvetica;
  font-size: 0.8rem;
  margin-left: 0.2rem;
}

.letters {
  font-family: Roboto Mono;
  font-size: 2rem;
}

.letters:first-child .d {
  color: green;
}

.nav {
    font-size: 14px;
    color: gray;

    & .link a {
        text-decoration: none;
    }

    & .seperator {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

.logo {
  height: 20em;
}

h1 + .subtitle {
  display: block;
  margin-top: -1em;
}


.tooltip-container {
    position: relative;
}

.tooltip-trigger {

}

.line {
    position: absolute;
    opacity: 0.3;
    background: green;
}

.collection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.animated-image {
    margin: 15px;
  width: 300px;
  height: 300px;
  background-size: contain;
  cursor: pointer;

  position: relative;

  .collection-name, .token-id,{
      color: white;
      font-size: 14px;
      transition: 0.3s;
      opacity: 0;
      position: absolute;
  }
  .collection-name {
      top: 0;
      right: 20px;
  }
  .token-id {
      bottom: 0;
      left: 40px;
  }
}

.animated-image#captain,
.animated-image#broker,
.animated-image#punk {
  animation-timing-function: steps(1);
  animation-play-state: paused;
  transition: 0.3s;

  &:hover {
    animation-play-state: running;
    box-shadow: -50px -50px 0 -40px var(--frame), 50px 50px 0 -40px var(--frame);

    .collection-name, .token-id {
        opacity: 1;
    }
    .collection-name {
        right: 2px;
    }
    .token-id {
        left: 2px;
    }
  }
}

@keyframes animate-punk {
  0% { background-image: url("/static/frames/punk/frame_0.gif"); }
  12.5% { background-image: url("/static/frames/punk/frame_1.gif"); }
  25% { background-image: url("/static/frames/punk/frame_2.gif"); }
  37.5% { background-image: url("/static/frames/punk/frame_3.gif"); }
  50% { background-image: url("/static/frames/punk/frame_4.gif"); }
  62.5% { background-image: url("/static/frames/punk/frame_5.gif"); }
  75% { background-image: url("/static/frames/punk/frame_6.gif"); }
  87.5% { background-image: url("/static/frames/punk/frame_7.gif"); }
  100% { background-image: url("/static/frames/punk/frame_8.gif"); }
}

#punk {
  animation: animate-punk 1s infinite;
}


@keyframes animate-broker {
  0% { background-image: url("/static/frames/broker/frame_00_delay-0.1s.gif"); }
  5% { background-image: url("/static/frames/broker/frame_01_delay-0.1s.gif"); }
  10% { background-image: url("/static/frames/broker/frame_02_delay-0.1s.gif"); }
  15% { background-image: url("/static/frames/broker/frame_03_delay-0.1s.gif"); }
  20% { background-image: url("/static/frames/broker/frame_04_delay-0.1s.gif"); }
  25% { background-image: url("/static/frames/broker/frame_05_delay-0.1s.gif"); }
  30% { background-image: url("/static/frames/broker/frame_06_delay-0.1s.gif"); }
  35% { background-image: url("/static/frames/broker/frame_07_delay-0.1s.gif"); }
  40% { background-image: url("/static/frames/broker/frame_08_delay-0.1s.gif"); }
  45% { background-image: url("/static/frames/broker/frame_09_delay-0.1s.gif"); }
  50% { background-image: url("/static/frames/broker/frame_10_delay-0.1s.gif"); }
  55% { background-image: url("/static/frames/broker/frame_11_delay-0.1s.gif"); }
  60% { background-image: url("/static/frames/broker/frame_12_delay-0.1s.gif"); }
  65% { background-image: url("/static/frames/broker/frame_13_delay-0.1s.gif"); }
  70% { background-image: url("/static/frames/broker/frame_14_delay-0.1s.gif"); }
  75% { background-image: url("/static/frames/broker/frame_15_delay-0.1s.gif"); }
  80% { background-image: url("/static/frames/broker/frame_16_delay-0.1s.gif"); }
  85% { background-image: url("/static/frames/broker/frame_17_delay-0.1s.gif"); }
  90% { background-image: url("/static/frames/broker/frame_18_delay-0.1s.gif"); }
  95% { background-image: url("/static/frames/broker/frame_19_delay-0.1s.gif"); }
  100% { background-image: url("/static/frames/broker/frame_20_delay-0.1s.gif"); }
}

#broker {
  animation: animate-broker 2s infinite;
  background-color: green;
}

@keyframes animate-captain {
  0% { background-image: url("/static/frames/captain/frame_00_delay-0.05s.gif"); }
  1.041667% { background-image: url("/static/frames/captain/frame_01_delay-0.05s.gif"); }
  2.083333% { background-image: url("/static/frames/captain/frame_02_delay-0.05s.gif"); }
  3.125% { background-image: url("/static/frames/captain/frame_03_delay-0.05s.gif"); }
  4.166667% { background-image: url("/static/frames/captain/frame_04_delay-0.05s.gif"); }
  5.208333% { background-image: url("/static/frames/captain/frame_05_delay-0.05s.gif"); }
  6.25% { background-image: url("/static/frames/captain/frame_06_delay-0.05s.gif"); }
  7.291667% { background-image: url("/static/frames/captain/frame_07_delay-0.05s.gif"); }
  8.333333% { background-image: url("/static/frames/captain/frame_08_delay-0.05s.gif"); }
  9.375% { background-image: url("/static/frames/captain/frame_09_delay-0.05s.gif"); }
  10.416667% { background-image: url("/static/frames/captain/frame_10_delay-0.05s.gif"); }
  11.458333% { background-image: url("/static/frames/captain/frame_11_delay-0.05s.gif"); }
  12.5% { background-image: url("/static/frames/captain/frame_12_delay-0.05s.gif"); }
  13.541667% { background-image: url("/static/frames/captain/frame_13_delay-0.05s.gif"); }
  14.583333% { background-image: url("/static/frames/captain/frame_14_delay-0.05s.gif"); }
  15.625% { background-image: url("/static/frames/captain/frame_15_delay-0.05s.gif"); }
  16.666667% { background-image: url("/static/frames/captain/frame_16_delay-0.05s.gif"); }
  17.708333% { background-image: url("/static/frames/captain/frame_17_delay-0.05s.gif"); }
  18.75% { background-image: url("/static/frames/captain/frame_18_delay-0.05s.gif"); }
  19.791667% { background-image: url("/static/frames/captain/frame_19_delay-0.05s.gif"); }
  20.833333% { background-image: url("/static/frames/captain/frame_20_delay-0.05s.gif"); }
  21.875% { background-image: url("/static/frames/captain/frame_21_delay-0.05s.gif"); }
  22.916667% { background-image: url("/static/frames/captain/frame_22_delay-0.05s.gif"); }
  23.958333% { background-image: url("/static/frames/captain/frame_23_delay-0.05s.gif"); }
  25% { background-image: url("/static/frames/captain/frame_24_delay-0.05s.gif"); }
  26.041667% { background-image: url("/static/frames/captain/frame_25_delay-0.05s.gif"); }
  27.083333% { background-image: url("/static/frames/captain/frame_26_delay-0.05s.gif"); }
  28.125% { background-image: url("/static/frames/captain/frame_27_delay-0.05s.gif"); }
  29.166667% { background-image: url("/static/frames/captain/frame_28_delay-0.05s.gif"); }
  30.208333% { background-image: url("/static/frames/captain/frame_29_delay-0.05s.gif"); }
  31.25% { background-image: url("/static/frames/captain/frame_30_delay-0.05s.gif"); }
  32.291667% { background-image: url("/static/frames/captain/frame_31_delay-0.05s.gif"); }
  33.333333% { background-image: url("/static/frames/captain/frame_32_delay-0.05s.gif"); }
  34.375% { background-image: url("/static/frames/captain/frame_33_delay-0.05s.gif"); }
  35.416667% { background-image: url("/static/frames/captain/frame_34_delay-0.05s.gif"); }
  36.458333% { background-image: url("/static/frames/captain/frame_35_delay-0.05s.gif"); }
  37.5% { background-image: url("/static/frames/captain/frame_36_delay-0.05s.gif"); }
  38.541667% { background-image: url("/static/frames/captain/frame_37_delay-0.05s.gif"); }
  39.583333% { background-image: url("/static/frames/captain/frame_38_delay-0.05s.gif"); }
  40.625% { background-image: url("/static/frames/captain/frame_39_delay-0.05s.gif"); }
  41.666667% { background-image: url("/static/frames/captain/frame_40_delay-0.05s.gif"); }
  42.708333% { background-image: url("/static/frames/captain/frame_41_delay-0.05s.gif"); }
  43.75% { background-image: url("/static/frames/captain/frame_42_delay-0.05s.gif"); }
  44.791667% { background-image: url("/static/frames/captain/frame_43_delay-0.05s.gif"); }
  45.833333% { background-image: url("/static/frames/captain/frame_44_delay-0.05s.gif"); }
  46.875% { background-image: url("/static/frames/captain/frame_45_delay-0.05s.gif"); }
  47.916667% { background-image: url("/static/frames/captain/frame_46_delay-0.05s.gif"); }
  48.958333% { background-image: url("/static/frames/captain/frame_47_delay-0.05s.gif"); }
  50% { background-image: url("/static/frames/captain/frame_48_delay-0.05s.gif"); }
  51.041667% { background-image: url("/static/frames/captain/frame_49_delay-0.05s.gif"); }
  52.083333% { background-image: url("/static/frames/captain/frame_50_delay-0.05s.gif"); }
  53.125% { background-image: url("/static/frames/captain/frame_51_delay-0.05s.gif"); }
  54.166667% { background-image: url("/static/frames/captain/frame_52_delay-0.05s.gif"); }
  55.208333% { background-image: url("/static/frames/captain/frame_53_delay-0.05s.gif"); }
  56.25% { background-image: url("/static/frames/captain/frame_54_delay-0.05s.gif"); }
  57.291667% { background-image: url("/static/frames/captain/frame_55_delay-0.05s.gif"); }
  58.333333% { background-image: url("/static/frames/captain/frame_56_delay-0.05s.gif"); }
  59.375% { background-image: url("/static/frames/captain/frame_57_delay-0.05s.gif"); }
  60.416667% { background-image: url("/static/frames/captain/frame_58_delay-0.05s.gif"); }
  61.458333% { background-image: url("/static/frames/captain/frame_59_delay-0.05s.gif"); }
  62.5% { background-image: url("/static/frames/captain/frame_60_delay-0.05s.gif"); }
  63.541667% { background-image: url("/static/frames/captain/frame_61_delay-0.05s.gif"); }
  64.583333% { background-image: url("/static/frames/captain/frame_62_delay-0.05s.gif"); }
  65.625% { background-image: url("/static/frames/captain/frame_63_delay-0.05s.gif"); }
  66.666667% { background-image: url("/static/frames/captain/frame_64_delay-0.05s.gif"); }
  67.708333% { background-image: url("/static/frames/captain/frame_65_delay-0.05s.gif"); }
  68.75% { background-image: url("/static/frames/captain/frame_66_delay-0.05s.gif"); }
  69.791667% { background-image: url("/static/frames/captain/frame_67_delay-0.05s.gif"); }
  70.833333% { background-image: url("/static/frames/captain/frame_68_delay-0.05s.gif"); }
  71.875% { background-image: url("/static/frames/captain/frame_69_delay-0.05s.gif"); }
  72.916667% { background-image: url("/static/frames/captain/frame_70_delay-0.05s.gif"); }
  73.958333% { background-image: url("/static/frames/captain/frame_71_delay-0.05s.gif"); }
  75% { background-image: url("/static/frames/captain/frame_72_delay-0.05s.gif"); }
  76.041667% { background-image: url("/static/frames/captain/frame_73_delay-0.05s.gif"); }
  77.083333% { background-image: url("/static/frames/captain/frame_74_delay-0.05s.gif"); }
  78.125% { background-image: url("/static/frames/captain/frame_75_delay-0.05s.gif"); }
  79.166667% { background-image: url("/static/frames/captain/frame_76_delay-0.05s.gif"); }
  80.208333% { background-image: url("/static/frames/captain/frame_77_delay-0.05s.gif"); }
  81.25% { background-image: url("/static/frames/captain/frame_78_delay-0.05s.gif"); }
  82.291667% { background-image: url("/static/frames/captain/frame_79_delay-0.05s.gif"); }
  83.333333% { background-image: url("/static/frames/captain/frame_80_delay-0.05s.gif"); }
  84.375% { background-image: url("/static/frames/captain/frame_81_delay-0.05s.gif"); }
  85.416667% { background-image: url("/static/frames/captain/frame_82_delay-0.05s.gif"); }
  86.458333% { background-image: url("/static/frames/captain/frame_83_delay-0.05s.gif"); }
  87.5% { background-image: url("/static/frames/captain/frame_84_delay-0.05s.gif"); }
  88.541667% { background-image: url("/static/frames/captain/frame_85_delay-0.05s.gif"); }
  89.583333% { background-image: url("/static/frames/captain/frame_86_delay-0.05s.gif"); }
  90.625% { background-image: url("/static/frames/captain/frame_87_delay-0.05s.gif"); }
  91.666667% { background-image: url("/static/frames/captain/frame_88_delay-0.05s.gif"); }
  92.708333% { background-image: url("/static/frames/captain/frame_89_delay-0.05s.gif"); }
  93.75% { background-image: url("/static/frames/captain/frame_90_delay-0.05s.gif"); }
  94.791667% { background-image: url("/static/frames/captain/frame_91_delay-0.05s.gif"); }
  95.833333% { background-image: url("/static/frames/captain/frame_92_delay-0.05s.gif"); }
  96.875% { background-image: url("/static/frames/captain/frame_93_delay-0.05s.gif"); }
  97.916667% { background-image: url("/static/frames/captain/frame_94_delay-0.05s.gif"); }
  98.958333% { background-image: url("/static/frames/captain/frame_95_delay-0.05s.gif"); }
  100% { background-image: url("/static/frames/captain/frame_96_delay-0.05s.gif"); }
}

#captain {
  animation: animate-captain 3.5s infinite;
}



